*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
:root{
    --background-color:#eceff1;
    --primary-color:blueviolet;
    --card-background-color:white;
    --date-time:gray;
    --card-text-color:rgb(29, 25, 25);
    --header-color:black;
}
.dark-mode{
    --background-color:#263238;
    --primary-color:#09d171;
    --card-background-color:rgb(3, 3, 3);
    --date-time:#e0f7fa;
    --header-text-color:white;
    --card-text-color:rgb(245, 245, 245);
    --header-color:white;
}

body{
    background-color: var(--background-color);

}
.grid-container{
    height: 100vh;
}
nav{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--header-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1em;
}
ul li{
    padding-right: 1em;
    font-weight: bold;
    font-size: 12px;
    
}
li:first-child{
    margin-right: auto;
    padding-left: 10px;
}
li:hover{
    color: rgb(212, 205, 205);
}
header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: var(--header-color);
}
h2{
    font-size: 20px;
}
.search{
    width: 150px;
    border: none;
    border-radius:4px;
    padding-left: 10px;
}
.search:focus{
    outline-color: var(--primary-color);
}
.grid-cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:10px;
    column-gap: 10px;
    row-gap: 10px;
}
.grid-card{
    background-color: var( --card-background-color);
    padding: 10px;
    border-radius: 4px;
    border-top: 3px solid var(--primary-color);
    margin: 5px 0px 5px 0px;
}
.date-time{
    color: var(--date-time);
    font-size: 8px;
}
.card-header{
    font-weight: 600;
    font-size: 11px;
    margin: 4px 4px 4px 0px;
    color: var(--header-color);
}
.card-body{
    color: var(--card-text-color);
}

@media only screen and (max-width:400px) {
    .grid-cards-container{
        grid-template-columns: 1fr;
        font-size: 16px;
    }
}
